# formatting, type checking and code analysis
black
isort
mypy
flake8
pycodestyle
pydocstyle
pylint

# testing utilities
hypothesis
pyfakefs

# misc
jsonschema
ruamel.yaml
pillow
requests

# dl
onnxruntime
tf2onnx
tensorflow~=2.9.0
protobuf<3.20
flatbuffers<2
