# formatting, type checking and code analysis
black
isort
mypy
flake8
pycodestyle
pydocstyle
pylint

# testing utilities
hypothesis
pyfakefs

# misc
jsonschema
ruamel.yaml
pillow
requests

# dl
tensorflow~=2.9.0
onnx==1.12.0
tf2onnx
